*{
    scrollbar-width: thin;
    scrollbar-color: #0a07 #0000;
}
*:hover{scrollbar-color: #0a0 #0000;}
::selection{
    background-color: #f90;
    color: #000;
}
body{
    background-color: #000;
    color: #0f0;
    font-family: "consolas", "Courier New", Courier, monospace;
    font-size: medium;
    color-scheme: dark;
    cursor: default;
}
input{
    font: inherit;
    color: inherit;
}
input[type=button]{
    cursor: pointer;
    font-size: small;
    border-color: #000;
    background-color: #444;
}
input[type=button]:disabled{
    cursor: not-allowed;
    color: #0a0;
    background-color: #333;
}
input[type=button]:active{background-color: #555;}
select{user-select: none;}
/* --------------------------------------------------------- */
div#box{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    place-content: safe center;
    place-items: safe center;
    gap: 1rem;
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    max-width: 100vw;
    max-height: 100vh;
    width: max-content;
    height: max-content;
    overflow: auto;
    padding: 1rem;
    box-sizing: border-box;
    background-color: #222;
    border: 4px outset #444;
}
