*{
    scrollbar-width: thin;
    scrollbar-color: #0a07 #0000;
}
*:hover{scrollbar-color: #0a0 #0000;}
::selection{
    background-color: #f90;
    color: #000;
}
body{
    background-color: #000;
    color: #0f0;
    font-family: "consolas", monospace;
    font-size: medium;
    color-scheme: dark;
    cursor: default;
}
input{
    font: inherit;
    color: inherit;
}
input:invalid{border-color: #f00;}
input:invalid:focus-visible{
    outline-style: solid;
    outline-color: #f00;
}
input[type=number]{
    background-color: #000;
    border: 2px inset #000;
    width: 4rem;
}
input[type=button]{
    cursor: pointer;
    font-size: small;
    border-color: #000;
    background-color: #444;
}
input[type=button]:disabled{
    cursor: not-allowed;
    color: #0a0;
    background-color: #333;
}
input[type=button]:active{background-color: #555;}
select{user-select: none;}
/* --------------------------------------------------------- */
div#box{
    display: flex;
    flex-direction: column;
    place-content: safe center;
    place-items: safe center;
    text-align: center;
    gap: 1rem;
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    max-width: 100%;
    max-height: 100%;
    width: max-content;
    height: max-content;
    overflow: auto;
    padding: 1rem;
    box-sizing: border-box;
    background-color: #222;
    border: 4px outset #444;
}
div#box.success{border-color: #0a0;}
div#box.failure{border-color: #f00;}
div#sheet{
    display: flex;
    flex-flow: wrap;
    place-content: safe center;
    place-items: safe center;
    gap: 2px;
}
div#sheet>div.throw{
    display: flex;
    flex-flow: column;
    place-content: safe center;
    place-items: safe center;
    gap: .5rem;
    padding: .5rem;
    border: 2px outset #000;
}
div#sheet>div.throw>div.start,
div#sheet>div.throw>div.end{display: contents;}
div#sheet>div.throw>div.start>span{
    min-width: 1rem;
    min-height: 1rem;
    width: max-content;
    max-width: 10rem;
    max-height: 5rem;
    padding: .1rem .3rem;
    overflow: auto;
}
div#sheet>div.throw>div.start>div.head,
div#sheet>div.throw>div.end>div.tail{
    display: flex;
    place-content: safe center;
    place-items: safe center;
    gap: .5rem;
}
div#sheet>div.throw>div.dice{
    border: 4px inset #000;
    box-shadow: 2px 2px 10px inset #000;
    background-color: #530;
    vertical-align: middle;
    display: flex;
    flex-wrap: wrap;
    place-content: safe center;
    align-items: safe center;
    box-sizing: border-box;
    min-width: 130px;
    min-height: 110px;
    width: calc(var(--width,1) * 100px + 30px);
    /* BUG jittering when resizing due to dynamic layout with multiple boxes */
    resize: both;
    max-width: 730px;
    max-height: 450px;
    overflow: auto;
    scrollbar-gutter: stable both-edges;
}
div#sheet>div.throw>div.dice>svg{
    vertical-align: middle;
    filter: drop-shadow(2px 4px 8px #0007);
}
div#sheet>div.throw>div.dice>svg>use{
    transform-origin: 50% 50%;
    filter: brightness(.5);
}
div#sheet>div.throw>div.dice>svg>text{
    user-select: none;
    fill: #000;
    font-size: x-large;
    text-anchor: middle;
    alignment-baseline: central;
}
div#sheet>div.throw>div.dice.success>svg>use{filter: url(#green);}
div#sheet>div.throw>div.dice.failure>svg>use{filter: url(#red);}
div#sheet>div.throw>div.dice.failure>svg>text{fill: #ff0;}
div#sheet>div.throw>div.end>span{
    min-width: 5.6rem;
    font-size: large;
    white-space: nowrap;
}
div#nav{
    display: flex;
    place-content: safe center;
    place-items: safe center;
    gap: 1rem;
}
div#nav>a{white-space: nowrap;}
input#hover[data-state="2"]{
    background-color: #630;
    border-color: #850;
    color: #ff0;
}
input#hover[data-state="2"]:active{background-color: #850;}
input#hover[data-state="1"]{
    background-color: #040;
    border-color: #060;
}
input#hover[data-state="1"]:active{background-color: #060;}
input#hover[data-state="0"]{
    background-color: #800;
    border-color: #a00;
    color: #ff0;
}
input#hover[data-state="0"]:active{background-color: #a00;}
span#chance{
    min-width: 7.5rem;
    font-size: x-large;
    white-space: nowrap;
}
/* --------------------------------------------------------- */
div#box.rows>div#sheet{flex-flow: column;}
div#box.rows>div#sheet>div.throw{flex-flow: row;}
div#box.rows>div#sheet>div.throw>div.start,
div#box.rows>div#sheet>div.throw>div.end{
    display: flex;
    flex-direction: column;
    place-content: safe center;
    place-items: safe center;
    gap: 1rem;
}
div#box.rows>div#sheet>div.throw>div.end{flex-direction: column-reverse;}
div#box.rows>div#nav{display: grid;}
div#box.rows>div#nav>a{grid-area: 2/1/3/3;}
/* --------------------------------------------------------- */
div#box:not(.rows)>div#sheet>div.throw>div.start>div.head::after,
div#box.rows>div#sheet>div.throw>div.start::after{
    display: block;
    content: attr(data-sum);
    font-size: large;
    color: #0a0;
}
